<ion-header>
  <ion-navbar>
    <ion-title>
      <ion-icon name="custom-logo"></ion-icon>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">Logout</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
            Your posted things: {{thingscount}}
          </ion-list-header>

        <ion-item-sliding *ngFor="let key of Object.keys(things)" #slidingItem>
          <ion-item>
            <ion-thumbnail item-start>
              <img [src]="imagesBaseUrl + things[key].images[0]">
            </ion-thumbnail>
            <h2>Thing of {{things[key].timestamp | date: 'dd-MM-yyyy'}}</h2>
            <p><span class="thing-tag" *ngFor="let tag of things[key].tags">{{tag}}</span></p>
            <p *ngIf="things[key].status == 'paused'" clear item-end>Paused</p>
          </ion-item>
          <ion-item-options side="right">
              <button *ngIf="things[key].status == 'paused'" ion-button color="light" (click)="playThing(key, slidingItem)"><ion-icon name="play"></ion-icon> Resume</button>
              <button *ngIf="things[key].status == 'live'" ion-button color="light" (click)="pauseThing(key, slidingItem)"><ion-icon name="pause"></ion-icon> Pause</button>
              <button ion-button color="danger" (click)="deleteThing(key)"><ion-icon name="trash"></ion-icon> Delete</button>
          </ion-item-options>
        </ion-item-sliding>

      </ion-list>
</ion-content>
