<ion-header>
  <ion-navbar>
    <ion-title>
        <ion-icon name="custom-logo"></ion-icon>
      </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentFilters($event)">
        <ion-icon ios="ios-funnel-outline" md="md-funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <div #map style="height: 100%; width: 100%;"></div>
  
  <div id="map_cards">
    <ion-slides (ionSlideDidChange)="slideChanged()">
      <ion-slide *ngFor="let key of Object.keys(things)">
          <ion-card >
              <ion-card-content>
                  <ion-grid>
                      <ion-row>
                        <ion-col col-4>
                          <div class="thing-img" [style.background-image]="'url(' + imagesBaseUrl + things[key].images[0] +')'" (click)="goToThing(key)">
                          </div>
                        </ion-col>
                        <ion-col col-8>
                          <p><strong>There are:</strong><br>
                            <span class="thing-tag" *ngFor="let tag of things[key].tags">{{tag}}</span>
                          </p>
                          <p [ngSwitch]="things[key].availability">
                            <span *ngSwitchCase="'full'">Everything's there</span>
                            <span *ngSwitchCase="'medium'">Most still there</span>
                            <span *ngSwitchCase="'low'">Something left</span>
                            <span *ngSwitchCase="'empty'">Everything gone</span>
                          </p>
                          <p *ngIf="isGeolocalized"><strong>~{{distanceFromYou(things[key].location.coordinates[1], things[key].location.coordinates[0])}}km from you</strong></p>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
              </ion-card-content>
            </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

</ion-content>
