page-home {

    #map_cards{
        position: absolute;
        top: 0;
        left: 0;
        max-height: 25%;
        width: 100%;
        visibility: hidden;
    }

    .thing-img{
        height: 100%;
        width: 100%;
        img{
            object-fit: cover;
            width: inherit !important;
            max-width: inherit !important;
            height: inherit !important;
            max-height: inherit !important;
        }
    }

    .thing-tag{
        display: inline-block;
        text-transform: capitalize;
        background-color: color($colors, secondary, base);
        margin: 2px 4px 0 0;
        color: color($colors, light, base);
        padding: 1px 5px;
        border-radius: 3px;
    }

}
