<ion-header>
  <ion-navbar>
    <ion-title>
      Add Something
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div id="imgscroll">
        
    <div imgbox *ngFor="let picture of pictures; let i = index" [attr.ready]="scrollToTakePicture()">
        <div imgcontent [style.background-image]="DomSanitizer.bypassSecurityTrustStyle('url('+picture+')')"></div>
        <ion-icon class="imgdelete" name="md-remove-circle" (click)="removePicture(i)"></ion-icon>
    </div>

    <div imgbox id="imgadd" (click)="onTakePicture()" *ngIf="pictures.length < 5">
        <ion-icon name="camera"></ion-icon>
    </div>
      
  </div>    
      
</ion-content>
