page-add {

    #imgscroll {
        background-color: color($colors, light, base);
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    #backToMyPosition{
        background: #fff;
        display: block;
        border: 0px;
        margin: 0px;
        padding: 0px;
        position: absolute;
        cursor: pointer;
        user-select: none;
        overflow: hidden;
        width: 40px;
        height: 40px;
        bottom: 10px;
        left: 10px;
        box-shadow: 0 0 6px #aaa;
        border-radius: 3px;
        svg{
            width: 25px;
            height: 25px;
            margin-top: 2px;
        }
    }

    [imgbox] {
        flex: 0 0 auto;
        width: 30vw;
        margin: 6px 6px 6px 0;
        height: 30vw;
        background: #fff;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
        border-radius: 2px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        &:first-child{
            margin: 6px 6px 6px 6px;
        }

        &:last-child{
            font-size: 3rem;
        }

        [imgcontent]{
            border-radius: 2px;
            height: 100%;
            width: 100%;
            background-color: #000;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .imgdelete{
            position: absolute;
            top: -4px;
            right: -4px;
            color: red;
            font-size: 2rem;
            text-shadow: 0 0 3px rgba(255,255,255,0.2);
        }

    }
    
    #selectpositionContainer {
        background-color: color($colors, light, base);
        position: relative;
        min-height: 100px; 
        height: 30vh; 
        width: 100%;
    }

    #centremarker{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
        z-index: 9999;
    }
    
}
