// http://ionicframework.com/docs/theming/

.toplogo{
    width: 130px;
    height: auto;
    margin-top: 7px;
}

ion-icon {
    &[class*="custom-logo"] {
        mask-image: url(../assets/textlogo.svg);
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: color($colors, primary, base);
        width: 130px;
        height: 27px;
        margin-top: 7px;
    }
    &[class*="custom-logo-white"] {
        mask-image: url(../assets/textlogo.svg);
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: #FFF;
        width: 130px;
        height: 27px;
        margin-top: 7px;
    }  
}