<ion-header>
  <ion-navbar>
    <ion-title>
        <ion-icon name="custom-logo"></ion-icon>
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div id="slideshow">
    <ion-slides>
        <ion-slide *ngFor="let image of images">
            <img [src]="imagesBaseUrl + image" />
        </ion-slide>
      </ion-slides>
  </div>

  <div padding>
    <h4>Availability: {{availability}}</h4>
    <h4>What's in here:</h4>
    <span *ngFor="let tag of tags" class="tag">{{tag}}</span>
  </div>

  <div padding>
      <button ion-button full (click)="openTheNavigator()">Drive me here</button>
      <button ion-button full color="danger" (click)="reportInappropriateCheckLogin()">Report inapproriate</button>
  </div>
  
</ion-content>
